.Bg{
    background-image: url(./assets/bg.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 1.3rem;
    position: fixed;
    font-family: 'Spartan', sans-serif;
    font-weight: 1.1rem;
    
}
.Bg button{
    border: none;
    outline: none;
    border: 2px solid #87ceeb ;
    background-color: #87ceeb;
    color: #ffff00;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.3rem;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left:15px ;
    font-family: 'Spartan', sans-serif;
    box-sizing: border-box;
    box-shadow: 2px 3px 5px #777;
}
.Bg button:hover{
   
    background-color: white;
    color: #87ceeb;
    border: 2px solid white;

}
.CardContainer{
    margin-top: 25px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}